.GamePage {}
.CanvasBoardDiv {}
.MessageDiv {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.ScoreDiv {
    position: absolute;
    top: 35px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.ContainerDiv {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px - 30px - 30px);
    top: 70px;
    left: 10px;
    text-align: center;
}
canvas {
    border: solid 1px black;
    box-shadow: 5px 5px 5px black;
    position: relative;
}
.CanvasGreaterHeight {
    width: 100%;
}
.CanvasGreaterWidth {
    height: 100%;
}